<!--
Pagina en la cual se presenta el formulario para crear un pedido y enviar dicha información a la base de datos para luega mostrarlo en la 
pagina index.
-->

{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} Nuevo pedido {% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="formulario">
    <form method="POST">
        <label for="description">Descripcion</label>
        <select class="select" name="description" id="description">
            <option value="Hamburguesa">Hamburguesa</option>
            <option value="Pizza">Pizza</option>
            <option value="Perro Caliente">Perro calliente</option>
            <option value="Salchipapa">Salchipapa</option>
        </select>
        <label for="amount">Cantidad</label>
        <input type="number" min="1" name="amount" id="amount" placeholder="Cantidad..." required />
        <input type="submit" value="Guardar" />
    </form>
    <a class="action" href="{{ url_for('aplicacion.index') }}">Volver</a>
</div>
{% endblock %}