{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} Pagar {{ pedido['description'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST">
        <label for="pay_method">Metodo de pago</label>
        <select name="pay_method" id="pay_method">
            <option value="Efectivo">Efectivo</option>
            <option value="Tarjeta">Tarjeta</option>
        </select>
        <label for="delivered">Confirmar</label>
        <input type="checkbox" name="delivered" id="delivered" {% if pedido['delivered'] == 1 %}checked{% endif %} />
        <input type="submit" value="Guardar"/>
    </form>
    <form action="{{ url_for('aplicacion.delete',id=pedido['id']) }}" method="POST">
        <input class="danger" type="submit" value="Eliminar" onclick="return confirm('estas seguro de querer eliminarlo?')" />
    </form>
{% endblock %}