<!--
Pagina en la cual se presenta el formulario para actualizar los datos de metodo de pago y confirmacion del pedido, esta enviara los datos 
para verificar actualizar esto en la base de datos. Asi mismo presenta la posibilidad de eliminar el pedido.
-->

{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} Pagar {{ pedido['description'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="formulario">
    <form method="POST">
        <label for="pay_method">Metodo de pago</label>
        <select class="select" name="pay_method" id="pay_method">
            <option value="Efectivo">Efectivo</option>
            <option value="Tarjeta">Tarjeta</option>
        </select>
        <label for="delivered">Confirmar</label>
        <input type="checkbox" name="delivered" id="delivered" {% if pedido['delivered'] == 1 %}checked{% endif %} />
        <input type="submit" value="Guardar"/>
    </form>
    <form action="{{ url_for('aplicacion.delete',id=pedido['id']) }}" method="POST">
        <input class="danger" type="submit" value="Eliminar" onclick="return confirm('estas seguro de querer eliminarlo?')" />
    </form>
    <a class="action" href="{{ url_for('aplicacion.index') }}">Volver</a>
</div>
{% endblock %}