{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} Editar {{ pedido['description'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST">
        <label for="description">Descripcion</label>
        <!-- <input name="description" id="description" value="{{request.form['description'] or pedido['description']}}" required /> -->
        <select name="description" id="description">
            <option value="Hamburguesa">Hamburguesa</option>
            <option value="Pizza">Pizza</option>
            <option value="Perro Caliente">Perro calliente</option>
            <option value="Salchipapa">Salchipapa</option>
        </select>
        <label for="amount">Cantidad</label>
        <input name="amount" id="amount" value="{{request.form['amount'] or pedido['amount']}}" required />
        <label for="delivered">Entregado</label>
        <input type="checkbox" name="delivered" id="delivered" {% if pedido['delivered'] == 1 %}checked{% endif %} />
        <input type="submit" value="Guardar" />
    </form>
    <form action="{{ url_for('aplicacion.delete',id=pedido['id']) }}" method="POST">
        <input class="danger" type="submit" value="Eliminar" onclick="return confirm('estas seguro de querer eliminarlo?')" />
    </form>
{% endblock %}