<!--
Pagina en la cual se presenta el formulario para ingresar a la sesión, esta enviara los datos para verificar la existencia del usuario.
-->

{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Iniciar sesion{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="formulario">
    <form method="POST" class="ingresar">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username..." required />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password..." required />
        <input type="submit" value="Iniciar sesion" />
    </form>
</div>
{% endblock %}