<!--
Pagina inicial en la cual se basaran las demas para su fromato, presentara las opciones de registro, inicio de sesión y/ cerrar sesión 
dependiendo de si hay un usuario o no en la aplicacion, asi mismo enviara los mensajes de respuesta tipo flash en caso de errores de 
ejecucion.
-->

<!DOCTYPE html>
<title>{% block title%}{% endblock %} - La perrada</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

<body>
    <div>
        <img src="../static/img/logo.png" width="300px" height="300px">
    </div>
    
    <ul>
        <div class="box">
            {% if g.user %}
            <li><span>{{ g.user['username'] }}</span></li>
            <li><a href="{{ url_for('auth.logout') }}">Cerrar Sesion</a></li>
            {% else %}
            <li><a href="{{ url_for('auth.register') }}">Registrarse</a></li>
            <li><a href="{{ url_for('auth.login') }}">Iniciar Sesion</a></li>
            {% endif %}
        </div>
    </ul>
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
        <div class="flash"><h3>{{ message }}</h3></div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</body>